<div class="item-detail-wrapper">
    <div class="container-fluid ml-6">
        <img class ="item-detail-img" src="{{ item.imageUrl }}" class="img-responsive">    
        <br>
        <div class="item-small-details" >
            <p>Serial Number : {{item.serialNumber}}</p>
            <p>Items Left: {{item.availability}}</p>
        </div>   
        <div class="">
            <h2>Description</h2>
            {{item.description}}
        </div>  
        <hr>
        <div class="price-label">
            <h1>{{item.price | currency:'EUR'}}</h1>
        </div>    
        
        <button (click)="addItemToCart(item)" class="btn btn-success">
            Add to cart  <i class="fas fa-cart-plus"></i>
        </button>
        
        <br>
        <div class="" style="margin-top: 20px;">
            <button class="btn btn-secondary" routerLink="/items"> <i class="fas fa-reply"></i>   Return to items</button>
        </div>

    </div>
</div>